sentence-transformers==5.6.1
langchain-text-splitters>=1.1.2
langchain-community==0.4.2
python-bidi==0.6.7
arabic-reshaper==3.0.0
python-dotenv==1.2.1
psycopg2-binary==2.9.10
numpy==2.3.0
unstructured[pdf]==0.18.6
rank-bm25==0.2.2
langdetect==1.0.9
pdfplumber==0.11.7
image2pdf==1.0.0
pillow==12.0.0
unicodedata2==17.0.0
console==0.9911
rich==14.2.0
optimum==2.0.0
feedparser==6.0.12
tf-keras==2.21.0
fastapi==0.115.12
uvicorn==0.34.2
flask==3.1.1
markupsafe==3.0.2
requests>=2.32.5
openai==1.95.0
google-genai==2.1.0
pydantic==2.11.1
